{% extends "encyclopedia/layout.html" %}
{% block title%}
Edit A Page
{% endblock %}
{% block body%}
    <h1>Create a new page here</h1>
        <form method="POST" action="{% url 'save' %}">
            {% csrf_token %}
            <label>Page title:</label><br>
            <input type="text" value="{{title}}" name="page_title"><br><br>
            <label>Markdown:</label><br>
            <textarea value="content" style="height:60%; width:50vw" rows="30" cols="30" name="content">{{content}}</textarea><br>
            <input type="submit" name="submit" class="btn btn-primary">
        </form>
{% endblock %}